.carousel {
  background-image: url("../../src/img/slider-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  .header-shape {
    position: absolute;
    left: 60%;
    top: -70px;
  }
  .header_social {
    z-index: 2;
    .social_item {
      width: 27px;
      height: 27px;
      background: $c--gray;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      color: $c--white;
      border-radius: 100%;
      margin-top: 18px;
      font-size: 14px;
      &:hover {
        background: $c--primary;
      }
    }
  }
  .owl-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 56px);
    color: $c--white;
    h1 {
      background: #1f1f1fc6;
      width: fit-content;
      padding: 14px 20px;
      margin-bottom: 16px;
    }
    p {
      background: #333532da;
      width: fit-content;
      padding: 14px 20px;
      margin-bottom: 16px;
    }
    .btn--1 {
      margin-bottom: 30px;
    }
    .owl-nav {
      display: flex;
      justify-content: flex-end;
      button {
        margin-right: 15px;
        &:last-child {
          margin-right: 0px;
        }
        &:focus {
          outline: none;
        }
        span {
          font-size: 120px;
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (min-width: $bp--lg) {
  .carousel {
    .owl-carousel {
      height: calc(100vh - 130px);
    }
  }
}
