// BREAKPOINTS
$bp--sm: 576px;
$bp--md: 768px;
$bp--lg: 992px;
$bp--xl: 1200px;

// FONTS
$ff--primary--light: "RalewayLight";
$ff--primary--regular: "RalewayRegular";
$ff--primary--medium: "RalewayMedium";
$ff--primary--bold: "RalewayBold";
$ff--secondary: "Helvetica";

// COLORS
$c--primary: #ed1c24;
$c--black: #000000;
$c--gray: #1f1f1f;
$c--white: #ffffff;
$c--shade: #f69597;
